@import url(/dcbpw2015/css/reset.css);
@import url(/dcbpw2015/MuseoSans500/MuseoSans500.css);
body {
  background-color: whitesmoke;
  color: black;
  font-family: 'MuseoSans-500', sans-serif;
  line-height: 20px;
  font-size: 14px; }

#wrapperwrapper {
  min-width: 600px;
  max-width: 1024px;
  margin: 30px auto; }

#wrapper {
  margin: 0px 15px; }

#searchbar {
  overflow: auto;
  width: 100%;
  padding-bottom: 10px; }
  #searchbar div {
    float: right; }
    #searchbar div #searchinput {
      width: 360px;
      border: 1px solid #CCC; }
  #searchbar img {
    vertical-align: middle; }
  #searchbar form {
    display: inline; }

#fakepage {
  background-color: white;
  border: solid 1px #CCC;
  -moz-box-shadow: 0px 0px 5px #999;
  -webkit-box-shadow: 0px 0px 5px #999;
  box-shadow: 0px 0px 5px #888;
  width: 100%; }

#headerbar, #footerbar {
  overflow: auto;
  width: 100%;
  height: 8px;
  background-color: #333;
  clear: both; }

#headerbar {
  margin-bottom: 20px; }

#conference_name_table {
  margin-top: 20px;
  height: 218px;
  width: 100%; }
  #conference_name_table img {
    vertical-align: middle; }
  #conference_name_table #logocol {
    width: 300px;
    text-align: center; }

#menu {
  float: left;
  font-size: 90%;
  width: 250px; }
  #menu h2 {
    padding-top: 8px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: -12px;
    background-image: url("/dcbpw2015/sidebar-banner.gif");
    background-repeat: no-repeat;
    color: #fff;
    z-index: 5;
    height: 40px;
    text-align: center;
    padding-left: 0px;
    padding-right: 30px;
    vertical-align: middle; }
    #menu h2 a, #menu h2 a:hover, #menu h2 a:visited, #menu h2 a:link {
      text-decoration: none;
      color: white; }
  #menu li {
    margin-left: 1em;
    list-style-type: none; }
  #menu li + h2 {
    margin-top: 10px; }
  #menu .icon {
    width: 20px;
    display: inline-block;
    text-align: center; }

#content {
  padding-right: 40px;
  padding-left: 20px; }

#footer {
  clear: both;
  font-size: 80%;
  text-align: right;
  overflow: auto;
  width: 100%; }
  #footer .leftside {
    float: left; }

a {
  text-decoration: none; }
  a:link {
    color: #3d657f; }
  a:visited {
    color: #a32b2b; }

p {
  margin-bottom: 1em; }

#title {
  display: inline-block;
  width: 600px;
  position: relative;
  top: 50px;
  margin-bottom: -10px; }
  #title span {
    float: left;
    display: block; }
  #title .year {
    color: #8f8884;
    font-size: 100px;
    height: 100px;
    line-height: 100px;
    margin-right: 10px; }
  #title .dc, #title .baltimore, #title .dash {
    font-size: 40px;
    height: 40px;
    margin-top: 17px; }
  #title .dc {
    color: #a32b2b; }
  #title .baltimore {
    color: #3d657f; }
  #title .dash {
    color: #3c3836; }
  #title .workshop {
    font-size: 50px;
    color: #3c3836;
    height: 50px;
    margin-bottom: -20px; }

h2 {
  font-size: large;
  font-weight: bold; }

.news-date {
  font-size: large;
  float: right; }

.news-title {
  font-size: x-large; }

.news-author:before {
  content: "Posted by "; }

.news-author {
  display: block;
  margin-bottom: 1em;
  font-style: italic;
  font-size: smaller; }

#sponsors {
  overflow: auto; }
  #sponsors li {
    float: left;
    margin: 1em;
    width: 100px;
    height: 3em; }

.call-to-action {
  margin-bottom: 2em;
  text-align: center;
}
.call-to-action a {
  border: 1px solid #931b1b;
  padding: 1em;
  background-color:#a32b2b;
  color: #fff !important;
  font-size: 1.2em;
}
.call-to-action-blue {
  margin-bottom: 2em;
  text-align: center;
}
.call-to-action-blue a {
  border: 1px solid #2d556f;
  padding: 1em;
  background-color: #3d657f;
  color: #fff !important;
  font-size: 1.2em;
}
